@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
   
   input[type=number]::-webkit-inner-spin-button {
     -webkit-appearance: none;
   }
   .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
   .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  /* index.css or App.css */
    .modal {
      @apply fixed inset-0 flex items-center justify-center z-50;
    }
    
    .overlay {
      @apply fixed inset-0 bg-black opacity-50;
    }
    
 }